/*#f9690e*/

/*#################################################################*/
/*BASE STYLES*/
/*#################################################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight:300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
}

.box{
    padding: 1%;
}



/*#################################################################*/
/*REUSABLE STYLE COMPONENTS*/
/*#################################################################*/

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom : 20px;
    font-size: 240%;
    word-spacing: 4px;
    color: #fff;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #f9690e;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #f9690e;
    border: 1px solid #f9690e;
    color: #fff;
    transition: background-color .2s, border .3s, color .2s;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f9690e;
    color: #f9690e;
}

.btn:hover,
.btn:active,
input[type=submit]:hover{
    background-color: #be4d05;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active
{
    border: 1px solid #be4d05;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #be4d05;
    color: #fff;
}

a:link,a:visited{
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #f9690e;
    color: #555;
    transition: border-bottom 0.2s, color 1s;
}

a:hover,a:active{
    border-bottom: 1px solid transparent;
    color: #f9690e;
}


/*-------Paragraph*/
.long-copy{
    line-height: 140%;
    width: 75%;
    margin-left: 15%;
    margin-right: 15%;    
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*--------Icon*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #f9690e;
    margin-bottom: 10px;
}

/*#################################################################*/
/*HEADER STYLES*/
/*#################################################################*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

/*#################################################################*/
/*NAVIGATION STYLES*/
/*#################################################################*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 10px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 0px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
}

.main-nav li a:hover,
.main-nav li a:active{
    padding-bottom: 2px;
    border-bottom: 2px solid #f9690e;
}

.mobile-nav-icon{
    display: none;
}


/*-----------------------------------------------*/
/*--------------STICKY NAVIGATION-----------------*/
/*-----------------------------------------------*/
.sticky{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100%;
}

.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin-top: 10px;
    display: none;
}
.sticky .logo-black{
    display: block;
}

.sticky .logo{
    display: none;
}

.sticky .main-nav li a {
    margin: 10px 0 0 0;
    color: #555;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #f9690e;
}

/*----------MEALS section*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
}

.meals-showcase{
    width: 100%;
    list-style: none;
}

.meals-showcase li {
    display: block;
    float:left;
    width: 25%;
}

.meal-photo {
    margin: 0px;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.meal-photo img{
    width: 100%;
    opacity: 0.7;
    transform: scale(1.25);
    transition: transform 0.5s, opacity 0.5s
}

.meal-photo img:hover{
    width: 100%;
    opacity: 1;
    transform: scale(1.03);
}


/*--HOW it works section*/
.steps-box:first-child{
    text-align: right;
    padding-right: 20px;
}

.steps-box:last-child{
    margin-top: 70px;
}

.app-screen {
    width:40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div{
    display: inline-block;
    height:50px;
    width: 50px;
    border : 2px solid #f9690e;
    border-radius: 50%;
    text-align: center;
    float: left;
    font-size: 150;
    padding: 5px;
    margin-right: 25px;
}

.works-step:last-of-type{
    margin-bottom : 80px;
}

.btn-app img{
    height: 50px;
    width: auto;
}

a.btn-app {
    border-bottom: 0px;
}


/*Cities section*/
.box img{
    width: 100%;
    height: auto;
}

.icon-small{
    line-height: 120%;
    color: #f9690e;
    vertical-align: middle;
    display: inline-block;
    margin-top: -5px;
    text-align: center;
    padding-right: 5px;
}

/*=======================================================*/
/*================Customer testimonials=================*/
/*=======================================================*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

blockquote{
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before{;
    content: '\201C';
    display: block;
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite{
    display: block;
    margin-top: 20px;
    font-size: 90%;
}

cite img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align:middle;
}

/*=======================================================*/
/*================Pricing & Plans=================*/
/*=======================================================*/

.section-plans{
    background-color: #f0e9e0
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    padding: 2%;
    box-shadow: 0 2px 2px #eae3e3;
}


.plan-box div {
    padding: 20px;
    border-bottom: 1px solid #f2eeee;
}

.plan-box div:last-child {
    padding: 20px;
    border-bottom: 0px;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}

.plan-price{
    color:#f9690e;
    font-size: 300%;
    font-weight: 100;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

/*=======================================================*/
/*================Contact form=================*/
/*=======================================================*/
.contact-form {
    width: 60%;
    margin: 0px auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #adacac;
    padding: 2px;
}

*:focus{
    outline: none;
}



/*=======================================================*/
/*================Footer=================*/
/*=======================================================*/
.section-footer{
    background-color: #2c2c2c;
}

.footer-nav {
    float: left;
    list-style: none;
}

.footer-nav a,
.social-links a{
    border: 0px;
    color: #d6d1d1;
}

.social-links{
    float: right;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 1s;
}

.ion-social-facebook:hover,
.ion-social-facebook:active{
    color: #3b5998;
}

.ion-social-twitter:hover,
.ion-social-twitter:active{
    color: #0084b4;
}

.ion-social-instagram:hover,
.ion-social-instagram:active{
    color: #458eff;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active{
    color: #d34836;
}


.social-links li,
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.section-footer p {
    text-align: center;
}